{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Layout{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    
    {% block heading %}<h1>Bishal Shrestha</h1>{% endblock %}
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla maiores placeat doloribus minima soluta debitis nihil unde modi tempora vero. Ipsum, modi error. Eveniet facilis ex optio aliquid, explicabo esse.</p>
    {% block image %}
    <img src="{% static 'images/batman.png' %}" alt="Batman" height="400px" width="600px">
{% endblock %}
</body>
</html>